.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #2b2b2b;
    border-color: transparent;
}

#slider2 .ui-slider-tip {
    width: 34px;
    margin-left: -17px;
    top: -1px;
    background: #00c7d7;
    color: white;
    border: none;
    line-height: 27px;
    height: 23px; }

#slider2 .ui-slider-tip:before,
#slider2 .ui-slider-tip:after {
    display: none; }

#slider2 .ui-slider-handle.ui-state-active .ui-slider-tip,
#slider2 .ui-slider-handle.ui-state-focus .ui-slider-tip,
#slider2 .ui-slider-handle.ui-state-hover .ui-slider-tip,
#slider2 .ui-slider-handle:focus .ui-slider-tip,
#slider2 .ui-slider-handle:hover .ui-slider-tip {
    top: -1px; }

#slider2 .ui-slider-handle.ui-state-focus {
    z-index: 100; }

