<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>
        Signavio Core Components - Explorer
    </display-name>
    
    <!--MIME MAPPING-->
    <mime-mapping>
        <extension>
            svg
        </extension>
        <mime-type>
            image/svg+xml
        </mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>
            js
        </extension>
        <mime-type>
            text/javascript
        </mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>
            css
        </extension>
        <mime-type>
            text/css
        </mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>
            ico
        </extension>
        <mime-type>
            image/x-icon
        </mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>
            gif
        </extension>
        <mime-type>
            image/gif
        </mime-type>
    </mime-mapping>
	<mime-mapping>
        <extension>
            png
        </extension>
        <mime-type>
            image/png
        </mime-type>
    </mime-mapping>
</web-app>
