# Don't want to commit object files
**/build/*
**/target/*
**/dependency-reduced-pom.xml
**/*.iml

# Unpacked application server
Apromore-Assembly/Editor-Repository
Apromore-Assembly/Filestore-Repository
Apromore-Assembly/Lucene-Repository
Apromore-Assembly/Manager-Repository*
Apromore-Assembly/virgo-tomcat-server-3.6.2.RELEASE

# Site-specific configuration
**/.settings/*
*.project
*.classpath