<!--
  ~ This file is part of "Apromore".
  ~
  ~ Copyright (C) 2019 - 2020 The University of Melbourne.
  ~
  ~ "Apromore" is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ "Apromore" is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty
  ~ of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this program.
  ~ If not, see <http://www.gnu.org/licenses/lgpl-3.0.html>.
  -->

<!DOCTYPE Configuration [
  <!ENTITY backend "">
]>
<Configuration>
    <Node Identifier="demo">
        <Value Identifier="isEnabled">false</Value>
    </Node>
    <Node Identifier="threadPool">
        <!-- Thread pool cs.ut.configuration -->
        <Value Identifier="capacity">7</Value>
        <Node Identifier="onStartUp">
            <Value Identifier="package">cs.ut.jobs</Value>
            <Node Identifier="itemList">
                <Value>StartUpJob</Value>
            </Node>
        </Node>
    </Node>
    <Node Identifier="tasks">
        <Value Identifier="package">cs.ut.engine.tasks</Value>
        <Node Identifier="CacheCleanTask">
            <Value Identifier="isEnabled">true</Value>
            <Value Identifier="timeToLive">600000</Value>
            <Value Identifier="period">180000</Value>
        </Node>
        <Node Identifier="DisposalTask">
            <Value Identifier="isEnabled">true</Value>
            <Value Identifier="age">2592000000</Value>
            <Value Identifier="period">86400000</Value>
        </Node>
    </Node>
    <Node Identifier="userPreferences">
        <!-- Whether the simulation process should be run under specific user (root by default) -->
        <Value Identifier="isEnabled">false</Value>
        <Value Identifier="userName">zukkari</Value>
        <Value Identifier="userGroup">zukkari</Value>
        <Value Identifier="sudo"></Value>
        <Value Identifier="acp">0770</Value>
        <Node Identifier="adminFunctionality">
            <!-- Admin p functionality -->
            <Value Identifier="isEnabled">true</Value>
            <Value Identifier="password">VjNyWUg0ckRQNFNzVzByRA==</Value>
            <Value Identifier="isPasswordRequired">false</Value>
        </Node>
    </Node>
    <Node Identifier="defaultValues">
        <!-- Default values for training p -->
        <Value Identifier="minimum">0.1</Value>
        <Value Identifier="average">-1</Value>
    </Node>
    <Node Identifier="pages">
        <!-- Page cs.ut.configuration -->
        <Node Identifier="upload">
            <Value Identifier="page">/views/upload_page.zul</Value>
            <Value Identifier="parameters">false</Value>
        </Node>
        <Node Identifier="landing">
            <Value Identifier="page">/views/landing.zul</Value>
            <Value Identifier="parameters">false</Value>
        </Node>
        <Node Identifier="training">
            <Value Identifier="page">/views/training.zul</Value>
            <Value Identifier="parameters">false</Value>
        </Node>
        <Node Identifier="validation">
            <Value Identifier="page">/views/job_info.zul</Value>
            <Value Identifier="parameters">true</Value>
        </Node>
        <Node Identifier="admin">
            <Value Identifier="page">/views/admin.zul</Value>
            <Value Identifier="parameters">false</Value>
        </Node>
        <Node Identifier="jobs">
            <Value Identifier="page">/views/job_overview.zul</Value>
            <Value Identifier="parameters">false</Value>
        </Node>
    </Node>
    <Node Identifier="directories">
        <!-- Directory cs.ut.configuration -->
        <Node Identifier="itemList">
            <Value Identifier="python">/usr/bin/python3</Value>
            <Value Identifier="userLogDirectory">&backend;logdata/</Value>
            <Value Identifier="scriptDirectory">&backend;</Value>
            <Value Identifier="coreDir">&backend;core/</Value>
            <Value Identifier="trainDirectory">&backend;core/training_params/</Value>
            <Value Identifier="datasetDirectory">&backend;core/dataset_params/</Value>
            <Value Identifier="pklDirectory">&backend;pkl/</Value>
            <Value Identifier="ohpdir">/&backend;core/optimal_params/</Value>
            <Value Identifier="detailedDir">&backend;results/detailed/</Value>
            <Value Identifier="validationDir">&backend;results/validation/</Value>
            <Value Identifier="featureDir">&backend;results/feature_importance/</Value>
            <Value Identifier="tmpDir">/tmp/</Value>
            <Value Identifier="logFile">/tmp/predictor-training.log</Value>
        </Node>
    </Node>
    <Node Identifier="header">
        <!--
        <Node Identifier="upload">
            <Value Identifier="label">header.upload</Value>
            <Value Identifier="redirect">upload</Value>
            <Value Identifier="isEnabled">true</Value>
            <Value Identifier="icon">z-icon-cloud-upload</Value>
        </Node>
        -->
        <Node Identifier="training">
            <Value Identifier="label">header.training</Value>
            <Value Identifier="redirect">training</Value>
            <Value Identifier="isEnabled">true</Value>
            <Value Identifier="icon">z-icon-gears</Value>
        </Node>
        <Node Identifier="validation">
            <Value Identifier="label">header.validation</Value>
            <Value Identifier="redirect">jobs</Value>
            <Value Identifier="isEnabled">true</Value>
            <Value Identifier="icon">z-icon-line-chart</Value>
        </Node>
        <Node Identifier="admin">
            <Value Identifier="label">header.admin</Value>
            <Value Identifier="redirect">admin</Value>
            <Value Identifier="isEnabled">true</Value>
            <Value Identifier="icon">z-icon-bug</Value>
        </Node>
    </Node>
    <Node Identifier="grids">
        <Value Identifier="timestampFormat">yyyy-MM-dd HH:mm:ss</Value>
        <Value Identifier="decimalFormat">#0.0000</Value>
        <Node Identifier="validation">
            <Node Identifier="sortableColumns">
                <Value Identifier="isEnabled">true</Value>
                <Node Identifier="itemList">
                    <Value>logfile</Value>
                    <Value>predictiontype</Value>
                    <Value>bucketing</Value>
                    <Value>encoding</Value>
                    <Value>learner</Value>
                    <Value>timestamp</Value>
                    <Value>accuracy</Value>
                </Node>
            </Node>
        </Node>
    </Node>
    <Node Identifier="cookies">
        <Value Identifier="maxAge">2147483647</Value>
    </Node>
    <Node Identifier="iconClass">
        <Value Identifier="download">z-icon-cloud-download</Value>
        <Value Identifier="tooltip">z-icon-question-circle</Value>
    </Node>
    <Node Identifier="csv">
        <Value Identifier="splitter">[,;]</Value>
        <Value Identifier="threshold">20</Value>
        <Value Identifier="sampleSize">100</Value>
        <Node Identifier="escape">
            <Value Identifier="regex">(".*?([,;]).*?")</Value>
            <Node Identifier="replacement">
                <Value Identifier=","/>
                <Value Identifier=";"/>
            </Node>
        </Node>
        <Node Identifier="userCols">
            <Node Identifier="itemList">
                <Value>case_id_col</Value>
                <Value>activity_col</Value>
                <Value>timestamp_col</Value>
                <Value>resource_col</Value>
            </Node>
        </Node>
        <Node Identifier="caseId">
            <Node Identifier="itemList">
                <Value>caseid</Value>
                <Value>case_id</Value>
                <Value>case id</Value>
            </Node>
        </Node>
        <Node Identifier="activityId">
            <Node Identifier="itemList">
                <Value>activity</Value>
                <Value>activity_name</Value>
                <Value>activity_id</Value>
                <Value>event_name</Value>
            </Node>
        </Node>
        <Node Identifier="resource">
            <Node Identifier="itemList">
                <Value>resource</Value>
            </Node>
        </Node>
        <Node Identifier="timestamp">
            <Node Identifier="itemList">
                <Value>\d{4}[-/]\d{1,2}[-/]\d{1,2}[ T]\d{1,2}:\d{1,2}:\d{1,2}</Value>
                <Value>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}</Value>
                <Value>\d{4}/\d{2}/\d{2} \d{2}:\d{2}:\d{2}(\.\d{3})?</Value>
            </Node>
        </Node>
        <Node Identifier="empty">
            <Node Identifier="itemList">
                <Value/>
                <Value>EMPTY</Value>
                <Value>empty</Value>
            </Node>
        </Node>
        <Node Identifier="options">
            <Node Identifier="itemList">
                <Value Identifier="static_num_cols">params.static_num_cols</Value>
                <Value Identifier="static_cat_cols">params.static_cat_cols</Value>
                <Value Identifier="dynamic_num_cols">params.dynamic_num_cols</Value>
                <Value Identifier="dynamic_cat_cols">params.dynamic_cat_cols</Value>
                <Value Identifier="ignore">params.ignore</Value>
                <Value Identifier="future_values">params.future_values</Value>
            </Node>
        </Node>
    </Node>
    <Node Identifier="downloads">
        <Node Identifier="default">
            <Value Identifier="mime">application/octet-stream</Value>
        </Node>
        <Node Identifier="pkl">
            <Value Identifier="mime">application/octet-stream</Value>
        </Node>
        <Node Identifier="csv">
            <Value Identifier="mime">text/csv</Value>
        </Node>
        <Node Identifier="zip">
            <Value Identifier="scheme">jar:file</Value>
            <Node Identifier="dirNames">
                <Value Identifier="detailed">detailed</Value>
                <Value Identifier="features">feature_importance</Value>
                <Value Identifier="accuracy">validation</Value>
            </Node>
            <Value Identifier="mime">application/zip, application/octet-stream</Value>
        </Node>
    </Node>
    <Node Identifier="fileUpload">
        <Value Identifier="uploadBufferSize">2048</Value>
        <Node Identifier="extensions">
            <Node Identifier="itemList">
                <Value>csv</Value>
            </Node>
        </Node>
    </Node>
    <Node Identifier="models">
        <Node Identifier="basic">
            <Node Identifier="itemList">
                <Value>zero</Value>
                <Value>frequency</Value>
                <Value>xgboost</Value>
            </Node>
        </Node>
        <Node Identifier="parameters">
            <Node Identifier="last_state">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">laststate</Value>
                <Value Identifier="type">encoding</Value>
            </Node>
            <Node Identifier="frequency">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">agg</Value>
                <Value Identifier="type">encoding</Value>
            </Node>
            <Node Identifier="combined">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">combined</Value>
                <Value Identifier="type">encoding</Value>
            </Node>
            <Node Identifier="index_based">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">index</Value>
                <Value Identifier="type">encoding</Value>
            </Node>
            <Node Identifier="zero">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">zero</Value>
                <Value Identifier="type">bucketing</Value>
            </Node>
            <Node Identifier="state_based">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">state</Value>
                <Value Identifier="type">bucketing</Value>
            </Node>
            <Node Identifier="clustering">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">cluster</Value>
                <Value Identifier="type">bucketing</Value>
                <Node Identifier="properties">
                    <Node Identifier="n_clusters">
                        <Value Identifier="control">org.zkoss.zul.Intbox</Value>
                        <Value Identifier="max">10</Value>
                        <Value Identifier="min">1</Value>
                        <Value Identifier="default">1</Value>
                    </Node>
                </Node>
            </Node>
            <Node Identifier="prefix_length_based">
                <Value Identifier="n_of_events">25</Value>
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">prefix</Value>
                <Value Identifier="type">bucketing</Value>
            </Node>
            <Node Identifier="random_forest">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">rf</Value>
                <Value Identifier="type">learner</Value>
                <Node Identifier="properties">
                    <Node Identifier="n_estimators">
                        <Value Identifier="control">org.zkoss.zul.Intbox</Value>
                        <Value Identifier="max">400</Value>
                        <Value Identifier="min">1</Value>
                        <Value Identifier="default">300</Value>
                    </Node>
                    <Node Identifier="max_features">
                        <Value Identifier="control">org.zkoss.zul.Doublebox</Value>
                        <Value Identifier="min">0.01</Value>
                        <Value Identifier="default">0.5</Value>
                    </Node>
                </Node>
            </Node>
            <Node Identifier="gradient_boosting">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">gbm</Value>
                <Value Identifier="type">learner</Value>
                <Node Identifier="properties">
                    <Node Identifier="n_estimators">
                        <Value Identifier="control">org.zkoss.zul.Intbox</Value>
                        <Value Identifier="max">400</Value>
                        <Value Identifier="min">1</Value>
                        <Value Identifier="default">300</Value>
                    </Node>
                    <Node Identifier="max_features">
                        <Value Identifier="control">org.zkoss.zul.Doublebox</Value>
                        <Value Identifier="min">0.01</Value>
                        <Value Identifier="default">0.5</Value>
                    </Node>
                    <Node Identifier="learning_rate">
                        <Value Identifier="control">org.zkoss.zul.Doublebox</Value>
                        <Value Identifier="min">0.01</Value>
                        <Value Identifier="default">0.1</Value>
                    </Node>
                </Node>
            </Node>
            <Node Identifier="decision_tree">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">dt</Value>
                <Value Identifier="type">learner</Value>
                <Node Identifier="properties">
                    <Node Identifier="max_features">
                        <Value Identifier="control">org.zkoss.zul.Doublebox</Value>
                        <Value Identifier="min">0.01</Value>
                        <Value Identifier="default">0.8</Value>
                        <Value Identifier="max">1.0</Value>
                    </Node>
                    <Node Identifier="max_depth">
                        <Value Identifier="control">org.zkoss.zul.Intbox</Value>
                        <Value Identifier="min">1</Value>
                        <Value Identifier="max">10</Value>
                        <Value Identifier="default">5</Value>
                    </Node>
                </Node>
            </Node>
            <Node Identifier="xgboost">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">xgb</Value>
                <Value Identifier="type">learner</Value>
                <Node Identifier="properties">
                    <Node Identifier="n_estimators">
                        <Value Identifier="control">org.zkoss.zul.Intbox</Value>
                        <Value Identifier="max">400</Value>
                        <Value Identifier="min">1</Value>
                        <Value Identifier="default">300</Value>
                    </Node>
                    <Node Identifier="learning_rate">
                        <Value Identifier="control">org.zkoss.zul.Doublebox</Value>
                        <Value Identifier="min">0.01</Value>
                        <Value Identifier="default">0.04</Value>
                    </Node>
                    <Node Identifier="subsample">
                        <Value Identifier="control">org.zkoss.zul.Doublebox</Value>
                        <Value Identifier="min">0.1</Value>
                        <Value Identifier="default">0.7</Value>
                    </Node>
                    <Node Identifier="colsample_bytree">
                        <Value Identifier="control">org.zkoss.zul.Doublebox</Value>
                        <Value Identifier="min">0.1</Value>
                        <Value Identifier="default">0.7</Value>
                    </Node>
                    <Node Identifier="max_depth">
                        <Value Identifier="control">org.zkoss.zul.Intbox</Value>
                        <Value Identifier="min">1</Value>
                        <Value Identifier="max">10</Value>
                        <Value Identifier="default">5</Value>
                    </Node>
                </Node>
            </Node>
            <Node Identifier="remaining_time">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">remtime</Value>
                <Value Identifier="type">predictiontype</Value>
            </Node>
            <Node Identifier="next_activity">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">next</Value>
                <Value Identifier="type">predictiontype</Value>
            </Node>
            <Node Identifier="outcome">
                <Value Identifier="isEnabled">true</Value>
                <Value Identifier="parameter">-1</Value>
                <Value Identifier="type">predictiontype</Value>
            </Node>
        </Node>
    </Node>
    <Node Identifier="messages">
       <Node Identifier="welcome">
           <Value Identifier="label">
           </Value>
       </Node>
    </Node>
    <Node Identifier="tooltip">
        <Node Identifier="tooltips">
            <Node Identifier="encoding">
                <Value Identifier="label">
                    <![CDATA[
<b>Encoding</b> - this is how you want to encode traces from the same bucket into fixed-size feature vectors
                ]]>
                </Value>
            </Node>
            <Node Identifier="last_state">
                <Value Identifier="label">
                    <![CDATA[
<b>Last state</b> - concatenate case attributes + attributes of the latest executed event
                ]]>
                </Value>
            </Node>
            <Node Identifier="frequency">
                <Value Identifier="label">
                    <![CDATA[
<b>Frequency</b> - concatenate case attributes + counts of categorical attributes (activities, resources, etc.) + min/average/max/sum of numerical attributes (cost, time since case start, etc.)
                ]]>
                </Value>
            </Node>
            <Node Identifier="combined">
                <Value Identifier="label">
                    <![CDATA[
<b>Combined</b> - last state + frequency
                ]]>
                </Value>
            </Node>
            <Node Identifier="index_based">
                <Value Identifier="label">
                    <![CDATA[
<b>Index-based</b> - concatenate case attributes + attributes of <b>each</b> executed event. The <b>only</b> encoding that is lossless. It can only be used with prefix-length bucketing
                ]]>
                </Value>
            </Node>
            <Node Identifier="bucketing">
                <Value Identifier="label">
                    <![CDATA[
<b>Bucketing</b> - this is how you want to group process traces into buckets. A separate predictor will be trained for each bucket.
                ]]>
                </Value>
            </Node>
            <Node Identifier="zero">
                <Value Identifier="label">
                    <![CDATA[
<b>No bucketing</b> - discard grouping, train a single predictor using all available process traces.
                ]]>
                </Value>
            </Node>
            <Node Identifier="state_based">
                <Value Identifier="label">
                    <![CDATA[
<b>State based</b> - group traces according to the state (decision point) they have reached so far, one predictor for each state. Note training will take longer for processes with complicated process models.
                ]]>
                </Value>
            </Node>
            <Node Identifier="clustering">
                <Value Identifier="label">
                    <![CDATA[
<b>Clustering</b> - group similar traces using k-means clustering, one predictor for each cluster.
                ]]>
                </Value>
            </Node>
            <Node Identifier="prefix_length_based">
                <Value Identifier="label">
                    <![CDATA[
<b>Prefix length based</b> - group traces according to their length. The <i>n</i>-th bucket will consist of traces that are at least <i>n</i> events long.
                ]]>
                </Value>
            </Node>
            <Node Identifier="learner">
                <Value Identifier="label">
                    <![CDATA[
<b>Prediction method</b> - this is the machine learning algorithm that is used to fit a predictive model.
                ]]>
                </Value>
            </Node>
            <Node Identifier="random_forest">
                <Value Identifier="label">Random forest</Value>
            </Node>
            <Node Identifier="gradient_boosting">
                <Value Identifier="label">Gradient boosting</Value>
            </Node>
            <Node Identifier="decision_tree">
                <Value Identifier="label">Decision tree</Value>
            </Node>
            <Node Identifier="xgboost">
                <Value Identifier="label">XGBoost</Value>
            </Node>
        </Node>
    </Node>
    <Node Identifier="context">
        <Node Identifier="validation">
            <Node Identifier="copyUrl">
                <Value Identifier="label">context.copyUrl</Value>
                <Value Identifier="operation">CopyURLOperation</Value>
                <Value Identifier="icon">z-icon-copy</Value>
            </Node>
            <Node Identifier="deleteJob">
                <Value Identifier="label">context.deleteJob</Value>
                <Value Identifier="operation">DeleteJobOperation</Value>
                <Value Identifier="icon">z-icon-trash</Value>
            </Node>
            <Node Identifier="exportToPortal">
                <Value Identifier="label">context.exportToPortal</Value>
                <Value Identifier="operation">ExportToPortalOperation</Value>
                <Value Identifier="icon">z-icon-database</Value>
            </Node>
            <Node Identifier="downloadModel">
                <Value Identifier="label">context.downloadModel</Value>
                <Value Identifier="operation">DownloadModelOperation</Value>
                <Value Identifier="icon">z-icon-download</Value>
            </Node>
            <Node Identifier="downloadResults">
                <Value Identifier="label">context.downloadResults</Value>
                <Value Identifier="operation">ExportResultsOperation</Value>
                <Value Identifier="icon">z-icon-line-chart</Value>
            </Node>
        </Node>
    </Node>
</Configuration>
