<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <!--
             These definitions are needed for the XPDL extension.
             Currently they have to be copied manually to the 'plattform' web.xml.
      -->

    <servlet>
        <display-name>XPDLImport</display-name>
        <servlet-name>XPDLImportServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.xpdl.servlet.XPDLImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>XPDLImportServlet</servlet-name>
        <url-pattern>/xpdlimport</url-pattern>
    </servlet-mapping>

</web-app>
