<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/util     http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="org.apromore"/>

    <!-- ************************** WebServices ************************** -->

    <sws:annotation-driven />

    <sws:dynamic-wsdl id="manager" portTypeName="Manager" locationUri="/services/manager/" targetNamespace="urn:qut-edu-au:schema:apromore:manager">
        <sws:xsd location="classpath:manager.xsd"/>
    </sws:dynamic-wsdl>

    <sws:interceptors>
        <bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"
            p:logRequest="false" p:logResponse="false" />
        <bean id="validatingInterceptor"  class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor"
            p:xsdSchemaCollection-ref="schemaCollection" p:validateRequest="false" p:validateResponse="false"/>
    </sws:interceptors>

    <bean id="marshallingMethodProcessor" class="org.springframework.ws.server.endpoint.adapter.method.MarshallingPayloadMethodProcessor"
        p:marshaller-ref="jaxb2Marshaller" p:unmarshaller-ref="jaxb2Marshaller"/>

    <bean id="defaultMethodEndpointAdapter" class="org.springframework.ws.server.endpoint.adapter.DefaultMethodEndpointAdapter">
        <property name="methodArgumentResolvers">
            <list>
                <ref bean="marshallingMethodProcessor"/>
            </list>
        </property>
        <property name="methodReturnValueHandlers">
            <list>
                <ref bean="marshallingMethodProcessor"/>
            </list>
        </property>
    </bean>

    <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="schemas" ref="schemasList" />
        <property name="contextPaths">
            <list>
                <value>org.apromore.model</value>
            </list>
        </property>
    </bean>

    <util:list id="schemasList">
        <value>classpath:manager.xsd</value>
    </util:list>

    <bean id="schemaCollection" class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
        <property name="xsds" value="/WEB-INF/wsdl/manager.xsd"/>
        <property name="inline" value="true"/>
    </bean>

    <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory"/>
    <bean id="messageReceiver" class="org.springframework.ws.soap.server.SoapMessageDispatcher"/>


    <!-- ************************** Non WebServices ************************** -->

    <bean id="dataAccessCanoniserManager" class="org.apromore.dao.service.DataAccessCanoniserManagerImpl" />
    <bean id="canoniserManager" class="org.apromore.canoniser.service.CanoniserManagerImpl" p:client-ref="canoniserDataAccessClient" />
    <bean id="canoniserDataAccessClient" class="org.apromore.canoniser.da.CanoniserDataAccessClient" p:manager-ref="dataAccessCanoniserManager" />
    <bean id="managerCanoniserClient" class="org.apromore.manager.canoniser.ManagerCanoniserClient" p:manager-ref="canoniserManager" />


    <bean id="ClusterService" class="org.apromore.service.impl.ClusterServiceImpl" />
    <bean id="CanoniserService" class="org.apromore.service.impl.CanoniserServiceImpl" />
    <bean id="ContentService" class="org.apromore.service.impl.ContentServiceImpl" />
    <bean id="DomainService" class="org.apromore.service.impl.DomainServiceImpl" />
    <bean id="FormatService" class="org.apromore.service.impl.FormatServiceImpl" />
    <bean id="FragmentService" class="org.apromore.service.impl.FragmentServiceImpl" />
    <bean id="GraphService" class="org.apromore.service.impl.GraphServiceImpl" />
    <bean id="LockService" class="org.apromore.service.impl.LockServiceImpl" />
    <bean id="ProcessService" class="org.apromore.service.impl.ProcessServiceImpl" />
    <bean id="RepositoryService" class="org.apromore.service.impl.RepositoryServiceImpl" />
    <bean id="SimilarityService" class="org.apromore.service.impl.SimilarityServiceImpl" />
    <bean id="MergeService" class="org.apromore.service.impl.MergeServiceImpl" />
    <bean id="SessionService" class="org.apromore.service.impl.SessionServiceImpl" />
    <bean id="UserService" class="org.apromore.service.impl.UserServiceImpl" />

    <bean id="ComposerService" class="org.apromore.service.impl.ComposerServiceImpl" />
    <bean id="SimpleComposerService" class="org.apromore.service.impl.SimpleComposerImpl" />
    <bean id="DecomposerService" class="org.apromore.service.impl.DecomposerServiceImpl" />
    <bean id="SimpleDecomposerService" class="org.apromore.service.impl.SimpleDecomposerImpl" />

    <bean id="UIHelper" class="org.apromore.service.helper.UIHelper" />
    <bean id="BondContentHandler" class="org.apromore.service.helper.BondContentHandler" />
    <bean id="ChangePropagator" class="org.apromore.service.helper.ChangePropagator" />
    <bean id="PocketMapper" class="org.apromore.service.helper.PocketMapper" />

    <bean id="GEDMatrix" class="org.apromore.toolbox.clustering.algorithms.dbscan.InMemoryGEDMatrix" />
    <bean id="ClusterAnalyzer" class="org.apromore.toolbox.clustering.analyzers.ClusterAnalyzer" />
    <bean id="DBscanClusterer" class="org.apromore.toolbox.clustering.algorithms.dbscan.InMemoryClusterer" />
    <bean id="ExcludedObjectDbscanClusterer" class="org.apromore.toolbox.clustering.algorithms.dbscan.InMemoryExcludedObjectClusterer" />
    <bean id="DBscanHierarchyFilter" class="org.apromore.toolbox.clustering.algorithms.dbscan.InMemoryHierarchyBasedFilter" />
    <bean id="DistanceMatrix" class="org.apromore.service.impl.DistanceMatrix" />
    <bean id="ContainmentRelation" class="org.apromore.clustering.containment.ContainmentRelationImpl" />
    <bean id="DissimilarityMatrix" class="org.apromore.clustering.hierarchy.HierarchyAwareDissimMatrixGenerator" />
    
    <!-- Plugin Beans (Workaround until OSGi is here) -->
    <bean id="CanoniserProvider" class="org.apromore.canoniser.provider.impl.SimpleSpringCanoniserProvider" />
</beans>