<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2009-2015 The Apromore Initiative.
  ~
  ~ This file is part of "Apromore".
  ~
  ~ "Apromore" is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ "Apromore" is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this program.
  ~ If not, see <http://www.gnu.org/licenses/lgpl-3.0.html>.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <!--
             These definitions are needed for the EPC extension.
             Currently they have to be copied manually to the 'plattform' web.xml.
      -->

    <servlet>
        <display-name>EPMLImport</display-name>
        <servlet-name>EPMLImportServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.epml.servlet.EPMLImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EPMLImportServlet</servlet-name>
        <url-pattern>/epmlimport</url-pattern>
    </servlet-mapping>

    <!-- Auto Layout for EPC -->
    <servlet>
        <display-name>EPCLayout</display-name>
        <servlet-name>EPCLayoutServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.epml.servlet.EPCLayoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EPCLayoutServlet</servlet-name>
        <url-pattern>/epmllayout</url-pattern>
    </servlet-mapping>


</web-app>
