/* This style should be linked in <head> using */

/* Make sure button colours are transparent */
.ap-icon {
    background-color: transparent;
}

/* Loaders */
.z-loading-icon {
    background-image: url('../img/brand/loader.svg') !important;
    background-size: 60px auto !important;
    background-position: 50% 50% !important;
    width: 80px !important;
    height: 80px !important;
    clear: right;
    position: static;
    left: 0% !important;
    margin: auto !important;
}

.z-loading {
    border-radius: 8px !important;
    background-color: rgba(255, 255, 255, 0.8);
}

.z-loading-indicator {
    background-color: transparent;
}

/* Missing z-icons from sample template */
[class^="z-icon-"], [class*=" z-icon-"] {
    display: inline-block;
    font-family: ZK85Icons,FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
}

/* Caret */
.z-icon-caret-down:before {
    content: "\f0d7"
}

.z-icon-caret-up:before {
    content: "\f0d8"
}

.z-icon-caret-left:before {
    content: "\f0d9"
}

.z-icon-caret-right:before {
    content: "\f0da"
}

/* Angle */

.z-icon-angle-double-left:before {
    content: "\f100"
}

.z-icon-angle-double-right:before {
    content: "\f101"
}

.z-icon-angle-double-up:before {
    content: "\f102"
}

.z-icon-angle-double-down:before {
    content: "\f103"
}

.z-icon-angle-left:before {
    content: "\f104"
}

.z-icon-angle-right:before {
    content: "\f105"
}

.z-icon-angle-up:before {
    content: "\f106"
}

.z-icon-angle-down:before {
    content: "\f107"
}

/* Ellipsis */
.z-icon-ellipsis-h:before {
    content: "\f141"
}

.z-icon-ellipsis-v:before {
    content: "\f142"
}

/* Primary */

.z-icon-check:before {
    content: "\f00c"
}

.z-icon-remove:before,.z-icon-close:before,.z-icon-times:before {
    content: "\f00d"
}


.z-icon-chevron-left:before {
    content: "\f053"
}

.z-icon-chevron-right:before {
    content: "\f054"
}

.z-icon-plus-circle:before {
    content: "\f055"
}

.z-icon-minus-circle:before {
    content: "\f056"
}

.z-icon-times-circle:before {
    content: "\f057"
}

.z-icon-check-circle:before {
    content: "\f058"
}

.z-icon-question-circle:before {
    content: "\f059"
}

.z-icon-info-circle:before {
    content: "\f05a"
}

.z-icon-times-circle-o:before {
    content: "\f05c"
}

.z-icon-check-circle-o:before {
    content: "\f05d"
}

.z-icon-rotate-left:before,.z-icon-undo:before {
    content: "\f0e2"
}

.z-icon-rotate-right:before,.z-icon-repeat:before {
    content: "\f01e"
}

.z-icon-refresh:before {
    content: "\f021"
}

.z-icon-table:before {
    content: "\f0ce"
}

/* Symbols */

.z-icon-wrench:before {
    content: "\f0ad"
}

.z-icon-keyboard-o:before {
    content: "\f11c"
}