@import "palette.css";
@import "base.css";
@import "../img/icons/icons.css";
@import "utils.css";
@import "headload.css";

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fa/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fa/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fa/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fa/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fa/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fa/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ZK overrides
 We put them here (not as a separate import) for faster loading
 */

/* Typography */
.z-a,
.z-bandbox-input,
.z-button,
.z-center-header,
.z-checkbox-content,
.z-combobox-input,
.z-combobutton-content,
.z-datebox-input,
.z-decimalbox,
.z-doublebox,
.z-doublespinner-input .z-listheader-content,
.z-east-header,
.z-groupbox-content,
.z-intbox,
.z-label,
.z-listbox-body .z-listbox-emptybody td,
.z-listcell-content,
.z-listfooter-content,
.z-listgroup-content,
.z-listgroupfoot-content,
.z-listheader-content,
.z-loading,
.z-longbox,
.z-menu-text,
.z-menuitem-text,
.z-menupopup .z-menu-text,
.z-messagebox .z-label,
.z-messagebox,
.z-north-header,
.z-radio-content,
.z-select,
.z-south-header,
.z-spinner-input,
.z-tab-text,
.z-textbox,
.z-timebox-input,
.z-west-header,
.z-column-content, .z-row-content, .z-group-content, .z-groupfoot-content, .z-footer-content
input {
  font-family: var(--ap-font-base);
  font-size: 14px;
}

.z-label {
  line-height: 15px;
}

/* Buttons */

.z-messagebox-buttons {
  overflow: visible;
}

.z-button,
.z-combobutton-content {
  background-color: var(--ap-c-button);
}

.z-button:hover,
.z-combobutton:hover .z-combobutton-content {
  background-color: var(--ap-c-button-hover);
}

.z-button:active,
.z-combobutton:active .z-combobutton-content {
  background-color: var(--ap-c-button-active);
}

.z-button:focus {
  border-color: transparent;
  box-shadow: 0 0 4px var(--ap-c-orange);
  background-color: var(--ap-c-button-active);
}

.z-combobutton-button {
  border-left: 1px solid var(--ap-c-button-sep);
}

/* Checkbox */
input[type="checkbox"]:checked {
  background-color: var(--ap-c-widget);
  color: #fff;
}

input[type="checkbox"] {
  border: 1px solid var(--ap-c-grey-minor);
}
  /* Radio */
input[type="radio"]:checked:before {
  background-color: var(--ap-c-widget);
}

/* Tab */
.z-tabpanel {
  border-top: 1px solid var(--ap-c-grey-light-3);
}

.z-tab-selected {
  border-bottom-color: var(--ap-c-tab-bar-selected);
}

.z-tab-text {
  font-family: var(--ap-font-base);
  font-size: 14px;
  font-weight: normal;
  line-height: 24px !important;
  color: var(--ap-c-tab-text-normal);
}

.z-tab-selected .z-tab-text {
  color: var(--ap-c-tab-text-selected);
}

.z-tab-selected .ap-icon {
  filter: var(--ap-c-tab-text-selected-filter);
}

.z-tab-selected .ap-icon {
  filter: var(--ap-c-tab-text-selected-filter);
}

.z-tab:hover .z.tab-text {
  color: var(--ap-c-tab-text-hover);
}

.z-tab:hover {
  background-color: transparent;
}

.z-tab-selected .z-tab-text:hover {
  color: var(--ap-c-tab-text-hover);
}

.z-tab-text:hover {
  color: var(--ap-c-tab-text-hover);
}

.z-tab:hover .ap-icon {
  background-color: transparent;
  filter: var(--ap-c-tab-text-hover-filter);
}

/* Windows */

.z-window {
  background-color: var(--ap-c-bg-lighter);
}

.z-window-modal,
.z-window-overlapped,
.z-messagebox-window {
  padding: 0;
  border: 1px solid #b0b0b0;
  background-color: white;
  border-radius: 2px;
}

.z-messagebox-window {
  /*
  background-image: linear-gradient(
    130deg,
    #fba522 0%,
    #f5e2e5 38%,
    #c7e6f2 100%
  );*/
  background-image: linear-gradient(
          130deg,
          var(--ap-c-maroon) 0%,
          var(--ap-c-grey-light-2) 38%,
          var(--ap-c-oceanic-dark-1) 100%
  );
  background-position: top left;
}

.z-window-overlapped .z-window-header,
.z-window-modal .z-window-header {
  padding: 8px 7px 0 10px;
  font-family: var(--ap-font-brand);
  font-size: 14px;
  color: black;
  line-height: 16px;
  height: 32px;
  /*
    background-color: #a44000;
    background-image: linear-gradient(30deg, #a44000 0%, #f96100 20%, #c7e6f2 60%);
  */
  background-image: linear-gradient(
          30deg,
          #fcb88c 0%,
          #fee8c8 20%,
          #edf7fb 60%
  );
}

.z-messagebox-window .z-window-header {
  padding: 8px 7px 0 10px;
  font-family: var(--ap-font-brand);
  font-size: 14px;
  color: white;
  line-height: 16px;
  height: 32px;
}

.z-window-modal .z-window-content {
  padding: 7px 10px 7px 7px;
  font-family: var(--ap-font-base);
  font-size: 14px;
  background-color: transparent;
}

.z-messagebox-window .z-window-content {
  padding: 10px !important;
  font-family: var(--ap-font-base);
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Window icons */

/*
.z-messagebox-question {
  background-image: url(/dashboard/zkau/web/a60ebe8b/iceblue_c/zul/img/msgbox/question-btn.png)
}

.z-messagebox-exclamation {
  background-image: url(/dashboard/zkau/web/a60ebe8b/iceblue_c/zul/img/msgbox/warning-btn.png)
}

.z-messagebox-information {
  background-image: url(/dashboard/zkau/web/a60ebe8b/iceblue_c/zul/img/msgbox/info-btn.png)
}

.z-messagebox-error {
  background-image: url(/dashboard/zkau/web/a60ebe8b/iceblue_c/zul/img/msgbox/stop-btn.png)
}*/

/* Window action icons */

.z-window-icon {
  font-size: 14px;
  margin: 2px 0 0 7px;
  padding: 0;
}

/* Grid and listbox */
.z-listbox-header-border {
  border-bottom: 1px solid white !important;
}

.z-listheader {
  background-color: var(--ap-c-grid-head-bg) !important;
  border: none !important;
  border-right: 1px solid white !important;
}

.z-listheader-content {
  text-align: center;
}

.z-listbox-header {
  background-color: var(--ap-c-grid-head-bg) !important;
}

.z-listbox-header-border {
  border-bottom-color: var(--ap-c-grid-head-bg);
}

.z-listheader-content,
.z-listcell-content,
.z-listgroup-content,
.z-listgroupfoot-content,
.z-listfooter-content {
  padding: 4px 5px;
  line-height: 20px;
  min-height: 32px;
}

.z-listitem.z-listitem-selected > .z-listcell {
  background-color: var(--ap-c-grid-row-bg-selected);
  border-top: 0;
  border-bottom: 1px solid var(--ap-c-line-sep-selected);
}

.z-listitem .z-listcell {
  border-top: 0;
  border-bottom: 1px solid var(--ap-c-line-sep);
}

.z-grid-header,
.z-auxheader,
.z-column {
  background-color: var(--ap-c-soft-blue-dark-4) !important;
}

.z-listheader-content,
.z-listcell-content,
.z-listgroup-content,
.z-listgroupfoot-content,
.z-listfooter-content {
  min-height: 28px;
}

.z-listitem-checkable {
  vertical-align: middle;
}

/* Fixes for CSV importer list */
.myGroupBox .z-window-content {
  padding: 0 !important;
}

.myGroupBox .z-label {
  font-size: 12px !important;
}

/* ZK Icons */

button > [class^="z-icon-"],
button > [class*=" z-icon-"] {
  font-family: FontAwesome, ZK85Icons;
  font-size: 14px;
  line-height: 1;
  margin: 2px 2px 2px 0;
}

/* Slider overrides */
.z-slider-area,
.z-slider-button {
  background-color: var(--ap-c-widget);
}

.z-slider-center {
  background-color: var(--ap-c-grey-light-5);
}

tr.z-row-disabled td.z-row-inner .z-slider-area {
  background-color: var(--ap-c-grey-light-3);
}

/* Menu */
.z-menu-content,
.z-menuitem-content {
  background-color: var(--ap-c-grey-light-3);
}

.z-menu-content {
  background-color: transparent;
}

.z-menu-selected .z-menu-content {
  background-color: var(--ap-c-menu-bg-selected);
}

.z-menu-hover .z-menu-content {
  background-color: var(--ap-c-menu-bg-hover);
}

.z-menu-selected .z-menu-text {
  color: var(--ap-c-menu-text-selected);
}

/* */

.z-west-icon.z-icon-caret-left {
  left: -4px;
  color: var(--ap-c-grey-minor);
}

.z-west-icon.z-icon-ellipsis-v {
  left: -2px;
  color: var(--ap-c-grey-minor);
  visibility: visible;
}

.z-south-icon.z-icon-caret-down {
  top: -2px;
  color: var(--ap-c-grey-minor);
}

.z-south-icon.z-icon-ellipsis-h {
  top: -2px;
  color: var(--ap-c-grey-minor);
  visibility: visible;
}

/* Messagebox icons */
.z-messagebox-question {
  background-image: url(../img/msgbox/question.svg);
}

.z-messagebox-exclamation {
  background-image: url(../img/msgbox/warning.svg);
}

.z-messagebox-information {
  background-image: url(../img/msgbox/info.svg);
}

.z-messagebox-error {
  background-image: url(../img/msgbox/stop.svg);
}