@import "base.css";
@import "../img/icons/icons.css";
@import "utils.css";
@import "overrides.css";

/* ZK override */

.z-button,
.z-combobutton-content {
  background-color: #5b889b;
}

.z-a {
  font-family: var(--ap-font-base);
}

.z-button:hover,
.z-combobutton-content:hover {
  background-color: #84c7e3;
}

.z-window-modal {
  padding: 0;
  border: 1px solid #b0b0b0;
}

.z-tabpanel {
    border-top: 1px solid #78b7d1;
}

.z-tab-selected {
    border-bottom-color: #78b7d1;
}

.z-tab-selected .z-tab-text {
    color: #bb3a50  ;
}

.z-tab-text {
    font-family: var(--ap-font-base);
    font-size: 14px;
    font-weight: normal;
    line-height: 24px !important;
}

.z-window-modal .z-window-header {
  padding: 4px 10px;
  font-family: var(--ap-font-brand);
  font-size: 14px;
  color: black;
  /*
    background-color: #a44000;
    background-image: linear-gradient(30deg, #a44000 0%, #f96100 20%, #c7e6f2 60%);
     */
  background-image: linear-gradient(
    30deg,
    #fcb88c 0%,
    #fee8c8 20%,
    #edf7fb 60%
  );
}

.z-window-modal .z-window-content {
  padding: 7px 10px 7px 7px;
  font-family: var(--ap-font-base);
  font-size: 14px;
  background-color: transparent;
}

th.z-listheader {
  background: #a6bdc8 !important;
  border: none !important;
  border-right: 1px solid white !important;
}

.z-listbox-header-border {
    border-bottom-color: #5B889B;
}

.z-button,
.z-label,
.z-radio-content,
.z-checkbox-content,
.z-loading,
.z-textbox,
.z-decimalbox,
.z-intbox,
.z-longbox,
.z-doublebox,
.z-combobutton-content,
.z-combobox-input,
.z-bandbox-input,
.z-datebox-input,
.z-timebox-input,
.z-spinner-input,
.z-doublespinner-input .z-listheader-content,
.z-listcell-content,
.z-listgroup-content,
.z-listgroupfoot-content,
.z-listfooter-content,
.z-listheader-content,
.z-listcell-content,
.z-listgroup-content,
.z-listgroupfoot-content,
.z-listfooter-content,
.z-label,
.z-radio-content,
.z-menu-text,
.z-menuitem-text,
.z-checkbox-content,
.z-north-header,
.z-south-header,
.z-west-header,
.z-center-header,
.z-east-header,
.z-listbox-body .z-listbox-emptybody td,
.z-menupopup .z-menu-text,
.z-menuitem-text,
.z-tab-text,
input {
  font-family: var(--ap-font-base);
  font-size: 14px;
  font-weight: normal;
}

.myGroupBox .z-window-content {
  padding: 0 !important;
}

.myGroupBox .z-label {
  font-size: 12px !important;
}
