.z-loading-icon {
    background-image: url('../img/brand/loader.svg') !important;
    background-size: 60px auto !important;
    background-position: 50% 50% !important;
    width: 80px !important;
    height: 80px !important;
    clear: right;
    position: static;
    left: 0% !important;
    margin: auto !important;
}

.z-loading {
    border-radius: 8px !important;
    background-color: rgba(255, 255, 255, 0.8);
}

.z-loading-indicator {
    background-color: transparent;
}
