.ap-font-base {
    font-family: var(--ap-font-base);
}

.ap-font-brand {
    font-family: var(--ap-font-brand);
}

.ap-font-brand-light {
    font-family: var(--ap-font-brand);
    font-weight: 300;
}

.ap-font-brand-strong {
    font-family: var(--ap-font-brand);
    font-weight: 800;
}

.ap-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ap-grid {
    border: none;
}

.ap-grid tr.z-row td.z-row-inner,
.ap-grid tr.z-row,
.ap-grid div.z-grid-body div.z-cell,
.ap-grid div.z-grid{
    zoom: 1;
    background: transparent;
    border: none;
}

.ap-window-modal-actions {
    margin-top: 7px;
    text-align: right;
}

.ap-window-modal-actions button {
    margin-left: 4px;
}

.ap-form table td:first-child .z-row-content {
    text-align: right;
}

.ap-form table td:first-child .z-label {
    font-weight: 600;
}

.ap-stateful-button input {
    display: none;
}

.ap-action-sep {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 3px;
    width: 2px;
    height: 22px;
    border-right: 1px solid var(--ap-c-grey-minor);
    border-left: 1px solid white;
    vertical-align: middle;
}

.ap-forced-scroll .z-listbox-body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.ap-forced-scroll .z-listbox-body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--ap-c-scroll);
}