.ap-pd .mainCaption .z-caption-content {
    position: absolute;
    top: 0;
    left: 260px;
    padding: 5px 0 0 10px;
    font-family: var(--ap-font-base);
    font-weight: normal;
    font-size: 14px;
    width: calc(100% - 300px);
    color: white;
    z-index: var(--ap-z-header-title);
}

.ap-pd .mainCaption .z-caption-content:before {
    content: '>';
    padding-right: 10px;
}

.ap-pd .z-window-header {
    padding: 0;
}

.ap-pd .ap-pd-tools {
    position: absolute;
    width: 300px;
    height: 30px;
    right: 5px;
    top: 3px;
}

.ap-pd .ap-pd-tools button {
    float: right;
}

.ap-pd .ap-pd-tools button {
    height: 26px;
}

.ap-pd-stats-c {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.statsHead {
    background-color: var(--ap-c-soft-blue-dark-4) !important;
    border-color: white !important;
}

.ap-pd-stats-c .z-grid-header-border {
    border: none !important;
}

.ap-pd-keys + .z-html {
    display: none !important;
    position: absolute;
    right: 40px;
    top: 27px;
    padding: 5px 2px 5px 0;
    font-family: var(--ap-font-base);
    font-size: 12px;
    line-height: 14px;
    width: 550px;
    border: 1px solid var(--ap-c-grey-minor);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    filter: none;
}

.ap-pd-keys:hover + .z-html {
    display: block !important;
}
