@import "viz.css";

.ap-pd,
.ap-pd .z-window-content {
    background-color: white;
}

.ap-pd .mainCaption .z-caption-content {
    position: absolute;
    top: 0;
    left: 260px;
    padding: 8px 0 0 10px;
    font-family: var(--ap-font-base);
    font-weight: normal;
    font-size: 14px;
    width: calc(100% - 300px);
    color: white;
    z-index: var(--ap-z-header-title);
}

.ap-pd .mainCaption .z-caption-content:before {
    content: '>';
    padding-right: 10px;
}

.ap-pd .z-window-header {
    padding: 0;
}

.ap-pd .ap-pd-tools {
    position: absolute;
    width: 300px;
    height: 30px;
    right: 5px;
    top: 3px;
    text-align: right;
}

.ap-pd-options-c .z-groupbox-header .z-caption {
    background-color: #f7f7f7;
}

.ap-pd .ap-pd-tools button {
    display: inline-block;
    height: 26px;
    background-color: transparent !important;
    box-shadow: none !important;
    width: 30px !important;
    min-width: 30px !important;
    position: static !important;
    padding: 1px 0 0 0;
    margin: 0;
    border: none;
}

.ap-pd-tools .ap-icon {
    display: inline-block;
    filter: var(--ap-filter-ico-normal-light);
}

.ap-pd-tools .ap-icon:hover {
    background-color: transparent !important;
    filter: var(--ap-filter-ico-white) !important;
}

.ap-pd-stats-c {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.statsHead {
    background-color: var(--ap-c-soft-blue-dark-4) !important;
    border-color: white !important;
}

.ap-pd-stats-c .z-grid-header-border {
    border: none !important;
}

.ap-pd-keys + .z-html {
    display: none !important;
    position: absolute;
    right: 40px;
    top: 27px;
    padding: 5px 2px 5px 0;
    font-family: var(--ap-font-base);
    font-size: 12px;
    line-height: 14px;
    width: 550px;
    border: 1px solid var(--ap-c-grey-minor);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    filter: none;
}

.ap-pd-log-charts .z-window-content {
    padding: 8px;
}

.ap-pd-keys:hover + .z-html {
    display: block !important;
}

.ap-pd-options-c .z-hbox table {
    /* width: 100% !important; */
}