.x-panel-editor-north > div > .x-panel-body {
    box-sizing: border-box;
    height: 32px !important; /* header height: 40px, toolbar height: 32px */
}

body > .x-panel-noborder {
     top: 72px !important;
}

body > .x-panel-editor-north,
body > .x-panel-editor-south,
body > .x-panel-editor-west,
body > .x-panel-editor-east
{
    top: 0 !important;
}

.ap-log-animator {
     background-color: transparent !important;
}

.ap-log-animator div {
    box-sizing: border-box;
}

.ap-log-animator .z-window-header {
    position: absolute;
    top: 0;
    left: 220px;
    padding: 7px 0 0 10px;
    font-family: var(--ap-font-base);
    font-weight: normal;
    font-size: 14px;
    width: calc(100% - 270px);
    color: white;
    z-index: var(--ap-z-editor-window);
}

.ap-log-animator .z-window-content {
    /*padding: 0;*/
    /*position: absolute;*/
    /*top: 40px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
}

.ap-log-animator .z-window-header:before {
    content: '>';
    padding-right: 10px;
}

.ap-log-animator .x-toolbar {
    --tbar-height: 32px;
    --button-height: 24px;
}

.ap-log-animator #editorcanvas {
    background: transparent !important;
}

.ap-log-animator #controls {
    font-family: var(--ap-font-base);
    position: absolute;
    bottom: 15px;
    width: calc(100vw - 75px);
    left: 20px;
    height: 180px !important;
    z-index: 3000;
    padding: 15px;
    /*background-color: transparent;*/
    /*background-color:  rgba(247,247,247, 0.7) !important;*/
    background-color:  rgba(240,240,240, 0.7) !important;
    border-radius: 2px;
    border: 1px solid #cccc;
    box-shadow: 0 0 3px 0 rgba(200, 200, 200, .5);;
}

.ap-log-animator #speed_controls {
    width: 240px;
    margin-top: 10px;
}

.ap-animator-controls #buttons_and_rate {
    border: 1px solid #e0e0e0 !important;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ap-animator-controls #buttons_and_rate button {
    margin: 0;
    padding: 2px 3px !important;
    border: 0 !important;
    border-left: 1px solid #e0e0e0 !important;
    width: 32px;
    height: 100%;
    flex: 0 0 auto;
    background-color: transparent !important;
}

.ap-animator-controls #buttons_and_rate button:first-child {
    border: 0 !important;
}

.ap-animator-controls #buttons_and_rate button img {
    width: 24px;
    height: 24px;
}

.ap-log-animator #progress_display {
    margin: 2px 0 0 10px;
    display: flex;
    flex-direction: row;
    height: 100px;
    overflow: auto;
}

.ap-log-animator svg * {
    font-family: var(--ap-font-base);
    font-size: 10px;
}

.ap-log-animator #progress_display table {
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    flex: 0 0 auto;
}

.ap-log-animator #progress_display #time {
    font-size: 30px;
    font-weight: bold;
}

.ap-log-animator-progress-pies {
    margin-top: 8px;
    flex: 1 1 auto;
    overflow: auto;
}

.ap-log-animator-progress-pies svg {
    width: 100%;
    height: 80px;
}

.ap-log-animator #metrics_table {
    border: 0 !important;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(237,247,251, 0.7) !important;
}

.ap-log-animator #metrics_table tr#header {
    font-weight: bold !important;
}

.ap-log-animator #metrics_table td {
    border: 0;
    border-bottom: 1px solid #e0e0e0 !important;
    border-top: 1px solid #e0e0e0 !important;
    padding: 2px 4px !important;
    font-family: var(--ap-font-base) !important;
    vertical-align: top;

}

.ap-log-animator #timeline_svg {
    border: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.ap-log-animator .ap-animator-controls {
    width: 240px;
    margin-top: 10px;
}

.ap-log-animator #playback_controls {
    border: 0;
    padding: 0;
    overflow: hidden;
}

.ap-animator-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
}


.ap-animator-panel #log_list {
    height: 100px;
    overflow: auto;
    margin-top: 8px;
}

.ap-animator-panel > div {
    flex: 0 1 auto;
}

.djs-palette {
    z-index: 3010 !important;
}

.bjs-powered-by {
    z-index: 3020 !important;
}

.bjs-powered-by img {
    width: 30px !important;
}

.x-panel-editor-north .x-toolbar {
    --tbar-height: 32px;
    --button-height: 24px;
}

.x-panel-editor-north .x-toolbar {
    box-sizing: border-box;
    margin-top: 40px !important;
    background-image: none !important;
    background-color: #f3f3f3 !important;
    height: var(--tbar-height) !important;
    padding: 4px 0 0 0;
    border-bottom: 1px solid var(--ap-colour-grey);
    box-shadow: 0 1px 3px 0 rgba(200, 200, 200, .5);
    z-index: var(--ap-z-editor-toolbar);
}

.x-panel-editor-north .x-toolbar button {
    height: var(--button-height) !important;
    border: none !important;
    margin: 0 4px !important;
    /*filter: invert(50%) sepia(11%) saturate(1181%) hue-rotate(153deg) brightness(97%) contrast(92%);*/
    filter: invert(33%) sepia(0%) saturate(0%) hue-rotate(226deg) brightness(91%) contrast(93%);
    background-size: auto 18px !important;
    background-position: center !important;
    background-repeat: no-repeat;
}

.x-panel-editor-north .x-toolbar .x-btn-left,
.x-panel-editor-north .x-toolbar .x-btn-right {
    display: none !important;
}

.x-panel-editor-north .x-toolbar .x-btn-center {
    background: none !important;
    border: none !important;
}

.x-panel-editor-north .x-toolbar .x-btn-over .x-btn-center {
    background-color: var(--ap-colour-menu-bg-hover) !important;
}

.x-panel-editor-north .x-toolbar .x-btn-over button {
    filter: none !important;
}