@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aq40eq');
  src:  url('fonts/icomoon.eot?aq40eq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aq40eq') format('truetype'),
    url('fonts/icomoon.woff?aq40eq') format('woff'),
    url('fonts/icomoon.svg?aq40eq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete_all:before {
  content: "\e900";
}
.icon-delete:before {
  content: "\e9a0";
}
.icon-move_down:before {
  content: "\e9a2";
}
.icon-move_up:before {
  content: "\e9a3";
}
.icon-case_duration:before {
  content: "\e8a7";
}
.icon-direct_follow:before {
  content: "\e8a4";
}
.icon-eventual_follow:before {
  content: "\e8a5";
}
.icon-variant:before {
  content: "\e8ac";
}
.icon-attribute:before {
  content: "\e8ad";
}
.icon-timeframe:before {
  content: "\e8a9";
}
.icon-case_id:before {
  content: "\e8ab";
}
