@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7vjudv');
  src:  url('fonts/icomoon.eot?7vjudv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7vjudv') format('truetype'),
    url('fonts/icomoon.woff?7vjudv') format('woff'),
    url('fonts/icomoon.svg?7vjudv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-direct_follow:before {
  content: "\e903";
}
.icon-attribute:before {
  content: "\e900";
}
.icon-case_duration:before {
  content: "\e901";
}
.icon-case_id:before {
  content: "\e902";
}
.icon-eventual_follow:before {
  content: "\e904";
}
.icon-timeframe:before {
  content: "\e905";
}
.icon-variant:before {
  content: "\e906";
}
