editor/buildApps/bin
platform/WebContent/WEB-INF/lib/apromore-config.jar
platform/WebContent/WEB-INF/lib/jgrapht-core.0.9.1.jar
platform/WebContent/WEB-INF/lib/OpenXES-2.0.jar
tests/out/
tests/reports/
