<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-8level %-40logger{40} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="WSLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/apromore-message-trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/apromore-message-trace.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-8level %-40logger - %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="APPLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/apromore.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/apromore.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-8level %-40logger - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="net.sf.ehcache" level="WARN" />
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="javax.xml" level="DEBUG" />
    <logger name="com.sun" level="DEBUG" />
    <logger name="org.apromore" level="DEBUG" />

    <logger name="httpclient.wire" level="DEBUG" additivity="false">
        <appender-ref ref="WSLOGFILE"/>
    </logger>
    <logger name="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" level="DEBUG" additivity="false">
        <appender-ref ref="WSLOGFILE"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="APPLOGFILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

