<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <include resource="logJpaToFile-test.xml" />

    <logger name="org.apromore" level="debug" />
    <logger name="com.jolbox.bonecp" level="ERROR" />
    <logger name="org.eclipse.persistence" level="ERROR" />
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.beans.factory" level="ERROR" />

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

</configuration>
