<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2009-2015 The Apromore Initiative.
  ~
  ~ This file is part of "Apromore".
  ~
  ~ "Apromore" is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ "Apromore" is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this program.
  ~ If not, see <http://www.gnu.org/licenses/lgpl-3.0.html>.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Signavio Platform</display-name>

    <!--
         This app is cluster-ready and enforces serializalbe session attributes
     -->
    <distributable/>


    <context-param>
        <description>Define a reg exp for all user agents which are supported for the editor</description>
        <param-name>supportedBrowserEditor</param-name>
        <param-value>Firefox[\/\s](([0-9]+)\.\d+)|AppleWebKit|Opera.9\.\d+</param-value>
    </context-param>


    <!--FILTER-->
    <filter>
        <filter-name>RequestExceptionFilter</filter-name>
        <filter-class>com.signavio.platform.filters.RequestExceptionFilter</filter-class>
    </filter>

    <filter>
        <filter-name>HandlerFilter</filter-name>
        <filter-class>com.signavio.platform.filters.HandlerFilter</filter-class>
    </filter>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.signavio.platform.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>
                UTF-8
            </param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.signavio.platform.filters.AuthenticationFilter</filter-class>
        <init-param>
            <description></description>
            <param-name>requiresNoAuthorization</param-name>
            <param-value></param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>ParseParametersFilter</filter-name>
        <filter-class>com.signavio.platform.filters.ParseParametersFilter</filter-class>
    </filter>

    <!--FILTER MAPPING-->

    <filter-mapping>
        <filter-name>RequestExceptionFilter</filter-name>
        <url-pattern>
            /p/*
        </url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HandlerFilter</filter-name>
        <url-pattern>
            /p/*
        </url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>
            /p/*
        </url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>
            /p/*
        </url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ParseParametersFilter</filter-name>
        <url-pattern>
            /p/*
        </url-pattern>
    </filter-mapping>

    <!--SERVLETS-->
    <servlet>
        <display-name>Dispatcher</display-name>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>com.signavio.platform.servlets.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--SERVLET MAPPING-->
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>
            /p/*
        </url-pattern>
    </servlet-mapping>

    <!--LISTENER-->
    <listener>
        <listener-class>com.signavio.platform.listeners.EntryPoint</listener-class>
    </listener>

    <!--SESSION CONFIG-->
    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>

    <!--ERROR PAGES-->

    <!--MIME MAPPING-->
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>json</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <!--WELCOME FILE LIST-->
    <welcome-file-list>
        <welcome-file>welcome</welcome-file>
    </welcome-file-list>


    <!-- Bruce: BPMN Animation Servlet -->
    <servlet>
        <display-name>BPMN Animation</display-name>
        <servlet-name>BPMNAnimation</servlet-name>
        <servlet-class>servlet.BPMNAnimationServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>BPMNAnimation</servlet-name>
        <url-pattern>/editor/bpmnanimation</url-pattern>
    </servlet-mapping>


    <!-- Servlets from the Oryx Downloader -->
    <servlet>
        <display-name>Oryx Legacy File Download Servlet</display-name>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>org.oryxeditor.server.MultiDownloader</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/editor/download</url-pattern>
    </servlet-mapping>


    <!-- Servlets from the Oryx Editor -->
    <servlet>
        <display-name>BPMN Importer</display-name>
        <servlet-name>BPMNImporter</servlet-name>
        <servlet-class>servlet.BPMNImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BPMNImporter</servlet-name>
        <url-pattern>/editor/bpmnimport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>BPMN Exporter</display-name>
        <servlet-name>BPMNExporter</servlet-name>
        <servlet-class>servlet.BPMNOutputServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BPMNExporter</servlet-name>
        <url-pattern>/editor/bpmnexport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>BPMN Layouter</display-name>
        <servlet-name>BPMNLayouterServlet</servlet-name>
        <servlet-class>org.oryxeditor.server.BPMNLayouterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BPMNLayouterServlet</servlet-name>
        <url-pattern>/editor/bpmnlayout</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>YAWLImport</display-name>
        <servlet-name>YAWLImportServlet</servlet-name>
        <servlet-class>de.hbrs.oryx.yawl.servlets.YAWLImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>YAWLImportServlet</servlet-name>
        <url-pattern>/editor/yawlimport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>YAWLExport</display-name>
        <servlet-name>YAWLExportServlet</servlet-name>
        <servlet-class>de.hbrs.oryx.yawl.servlets.YAWLExportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>YAWLExportServlet</servlet-name>
        <url-pattern>/editor/yawlexport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>EPMLImport</display-name>
        <servlet-name>EPMLImportServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.epml.servlet.EPMLImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EPMLImportServlet</servlet-name>
        <url-pattern>/editor/epmlimport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>EPMLExport</display-name>
        <servlet-name>EPMLExportServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.epml.servlet.EPMLExportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EPMLExportServlet</servlet-name>
        <url-pattern>/editor/epmlexport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>EPCLayout</display-name>
        <servlet-name>EPCLayoutServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.epml.servlet.EPCLayoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EPCLayoutServlet</servlet-name>
        <url-pattern>/editor/epmllayout</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>XPDLImport</display-name>
        <servlet-name>XPDLImportServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.xpdl.servlet.XPDLImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>XPDLImportServlet</servlet-name>
        <url-pattern>/editor/xpdlimport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>PNMLImport</display-name>
        <servlet-name>PNMLImportServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.pnml.servlet.PNMLImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PNMLImportServlet</servlet-name>
        <url-pattern>/editor/pnmlimport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>PNMLExport</display-name>
        <servlet-name>PNMLExportServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.pnml.servlet.PNMLExportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PNMLExportServlet</servlet-name>
        <url-pattern>/editor/pnmlexport</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>BPStruct</display-name>
        <servlet-name>BPStructServlet</servlet-name>
        <servlet-class>org.apromore.common.converters.bpstruct.servlet.BPStructServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BPStructServlet</servlet-name>
        <url-pattern>/editor/bpstruct</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>PDFServlet</display-name>
        <servlet-name>PDFServlet</servlet-name>
        <servlet-class>org.apromore.editor.server.AlternativesRenderer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PDFServlet</servlet-name>
        <url-pattern>/editor/pdf</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
