<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-8level %-40logger - %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="WSLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/portal-message-trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/portal-message-trace.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-8level %-40logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="APPLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/portal.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/portal.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-8level %-40logger - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="httpclient.wire" level="DEBUG" additivity="false">
        <appender-ref ref="WSLOGFILE"/>
    </logger>
    <logger name="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" level="DEBUG" additivity="false">
        <appender-ref ref="WSLOGFILE"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="APPLOGFILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

