.ap-lfee .ap-icon {
    display: inline-block;
    vertical-align: middle;
}

.ap-lfee .z-tabbox-left>.z-tabs .z-tab.z-tab-selected {
    border-right: 0;
    border-left: 3px solid var(--ap-c-tab-bar-selected);
    background-color: transparent ;
}

.ap-lfee .z-tabbox-left>.z-tabs .z-tab:hover {
    background-color: transparent;
}

.ap-lfee .z-tabbox-left>.z-tabs .z-tab {
    border-right: 0;
    border-left: 3px solid transparent;
    background-color: transparent;
    margin-left: 0 !important;
}
