.ap-lfee .ap-icon {
    display: inline-block;
    vertical-align: middle;
}

.ap-lfee .z-tabbox-left>.z-tabs .z-tab.z-tab-selected {
    border-right: 0;
    border-left: 3px solid var(--ap-c-tab-bar-selected);
    background-color: transparent ;
}

.ap-lfee .z-tabbox-left>.z-tabs .z-tab:hover {
    background-color: transparent;
}

.ap-lfee .z-tabbox-left>.z-tabs .z-tab {
    border-right: 0;
    border-left: 3px solid transparent;
    background-color: transparent;
    margin-left: 0 !important;
}

.ap-lfee-window-detail .z-caption-content {
    font-family: var(--ap-font-brand);
}

.ap-lfee-window-detail .z-toolbarbutton {
    top: 4px !important;
    right: 3px !important;
}

.ap-lfee .ap-tab-vertical {
    padding-top: 5px;
}

.ap-lfee .ap-tab-vertical ul {
    display: flex !important;
    flex-direction: column;
}

.ap-lfee .ap-tab-vertical ul li {
    flex: 0 0 auto !important;
}

.ap-lfee .ap-tab-vertical .z-tab-text {
    line-height: 20px;
}

.ap-lfee .ap-tab-vertical .ap-icon {
    position: relative;
    top: -2px;
}

.ap-lfee .z-hlayout, .ap-lfee .z-vlayout {
    overflow: visible;
}

.ap-lfee svg path[fill^="#0093f9"] {
    fill: var(--ap-c-widget);
}

/* slider hack */

.ap-lfee-criteria > .z-south-header {
    border-color: transparent !important;
    visibility: hidden !important;
    color: white;
}

.ap-lfee-retain-remove {
    width: 200px;
}

.ap-chart-time-frame {
    height: calc(100% - 90px) !important;
    height: 100% !important;
}

.ap-lfee-casevar-north {
    /*height: calc(100% - 60px) !important;*/
}

.ap-lfee-perf-north {
    height: calc(100% - 90px) !important;
    height: 100% !important;
}

.ap-lfee-perf-north .z-charts {
    height: calc(100% - 30px) !important;
}

.ap-lfee-chart-bi-legend {
    background: linear-gradient(90deg, var(--ap-c-green-light-5), var(--ap-c-maroon-light-5));
    border-radius: 4px;
}

.ap-lfee-chart-bi-legend > div {
    padding: 5px 8px 6px 8px;
}

.ap-lfee-chart-bi-legend .z-label {
    color: var(--ap-c-text-normal) !important;
}

.ap-lfee-chart-scale .z-checkbox-content {
    margin: 0 !important;
}

.ap-lfee-container > div > .z-south-collapsed {
    border-width: 1px 0 0 0;
}

.ap-chart-contained .highcharts-container {
    height: 100% !important;
}

.ap-chart-contained .z-charts {
    width: 100% !important;
}

.ap-chart-contained .highcharts-container svg {
    height: 100% !important;
    width: 100% !important;
}

.ap-range {
    border-top: 1px solid var(--ap-c-grey-minor);
    margin: 10px 10px 0 10px;
    height: 12px;
}

.ap-range span {
    background-color: white;
    padding: 0 8px;
    position: relative;
    top: -8px;
}

.ap-lfee .z-listcell-content .z-button {
    padding: 0 4px !important;
}

.ap-lfee .z-listcell-content .z-button i {
    margin: 0;
}

/* -- Overwrite style in logFilter.zul */

.z-loading { top: 0% !important; left: 0% !important; align:
    center; vertical-align: middle; font-size:18px; height: 100%;
 width: 100%; background:rgba(255,255,255,.75)}

.z-center-body {
    border:0px solid #CC0;
    padding:0px;
    margin:0px;
}

.z-listcell-content {
    padding: 3px 0px 0px 5px;
}
.z-listbox-autopaging .z-listcell-content {
    height: 24px;
}
.z-listitem-checkbox {
    margin-top:-2px;
}

.z-north, .z-south, .z-west, .z-center, .z-east {
    border: 0px solid #d9d9d9;
}

.z-tab-text {
    font-size:14px;
    padding-left:15px;

}
/*
.z-groupbox {
padding-top: 16px;
}
*/
.z-groupbox>.z-groupbox-header {
    height: 12px;
}


.z-tab-image {

    height:22px; width:22px;
}


.sliderCover {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:+10;
    cursor: context-menu;
}
.sliderCover .z-slider-button{
    width:0px;
    height:0px;
}
.sliderCover .z-slider-center {
    background: rgba(0,0,0,0.0);
    height: 8px;
    opacity: 1.0;
    cursor: context-menu;
}
.sliderCover .z-slider-area {
    background: rgba(0,0,0,0.0);
    height: 8px;
    opacity: 1.0;
    cursor: context-menu;
}

.sliderL, .sliderR {
    position: absolute;
    left: 0px;
    top: 0px;
}

.z-slider-popup {
    display:none !important;
}

.sliderL .z-slider-button {
    background: var(--ap-c-widget) !important;
    z-index: +12;
}
.sliderR .z-slider-button {
    background: var(--ap-c-widget);
    z-index: +12;
}

.sliderL .z-slider-button:hover {
    background: var(--ap-c-widget-hover);
}

.sliderR .z-slider-button:hover {
    background: var(--ap-c-widget-hover);
}

.sliderL .z-slider-center {
    background: #000;
    height: 8px;
    opacity: 1.0;
}
.sliderL .z-slider-area {
    background: rgba(225,225,225, 1.0);
    height: 8px;
    opacity: 1.0;
    z-index: +2;
}
.sliderR .z-slider-center {
    background: rgba(225,225,225, 1.0);
    height: 8px;
    opacity: 1.0;
}
.sliderR .z-slider-area {
    background: var(--ap-c-widget);
    height: 8px;
    opacity: 1.0;
    z-index: +1;
}

.z-column {
    background:#FFF;
}
.z-column-content {
    color: #333;
}
.z-grid-header-border {
    border-bottom: 0px;
}

.z-icon-clock-o {
    width:20px;
    height:20px
}

.z-icon-clone {
    width:16px;
}
.z-icon-map {
    width:16px;
}
.z-icon-table {
    width:17px;
}

.z-grid-header {
    background:#FFF;
}

.icon-case_id, .icon-variant, .icon-timeframe, .icon-performance, .icon-case_duration, .icon-direct_follow, .icon-eventual_follow {
    padding-right:6px;
}
.icon-attribute {
    padding-right:6px;
    margin-left:-2px;
}

/* ---2019-10-01--- */
.critBtn {
    width:100px;
}
.critCtrlBtnContainer {
    padding-top:40px;
}

.critCtrlBtn, .critCtrlBtn .z-button i,  .critCtrlBtn .z-button{
    color:#777;
    font-size:14px; height:30px; width:30px; padding:2px 0px 0px 0px; background: rgba(0,0,0,0.0);
    border:0px; box-shadow: 0px 0px;
}
.critCtrlBtn:hover, .critCtrlBtn:hover .z-button i,
.critCtrlBtn:hover .z-button{
    color:#000;
    border-radius:7px;
    background:var(--ap-c-widget-hover);
}
.critCtrlBtn:active, .critCtrlBtn:active .z-button i,  .critCtrlBtn:active .z-button{
    color:#FFF;
}

.myRd input[type="radio"], .myRd input[type="radio"]:checked {
    opacity:0;
    height:0px;
    width:0px;
    display:none;
}

.icon-time_contain, .icon-time_active, .icon-time_start, .icon-time_end {
    font-size:48px;
    color:#AAA;
}

.rdContainer input[type="radio"]:checked ~ .z-radio-content{
    color:var(--ap-c-widget);
}

.rdContainer input[type="radio"]:checked ~ .z-radio-content .icon-time_contain,
.rdContainer input[type="radio"]:checked ~ .z-radio-content .icon-time_active,
.rdContainer input[type="radio"]:checked ~ .z-radio-content .icon-time_start,
.rdContainer input[type="radio"]:checked ~ .z-radio-content .icon-time_end{
    color: var(--ap-c-widget) !important;
}


.rdContainer input[type="radio"]:hover ~ .z-radio-content .icon-time_contain,
.rdContainer input[type="radio"]:hover ~ .z-radio-content .icon-time_active,
.rdContainer input[type="radio"]:hover ~ .z-radio-content .icon-time_start,
.rdContainer input[type="radio"]:hover ~ .z-radio-content .icon-time_end{
    color: var(--ap-c-widget-hover) !important;
}


.rdContainer input[type="radio"]:active ~ .z-radio-content .icon-time_contain,
.rdContainer input[type="radio"]:active ~ .z-radio-content .icon-time_active,
.rdContainer input[type="radio"]:active ~ .z-radio-content .icon-time_start,
.rdContainer input[type="radio"]:active ~ .z-radio-content .icon-time_end{
    color: var(--ap-c-widget-active) !important;
}

/* --- 2019-11-15 --- */
.myCbx input[type="checkbox"], .myCbx input[type="checkbox"]:checked {
    height:0px;
    width:0px;
    display:none;
}

.z-checkbox-content .icon-log  {
    font-size:18px;
    color:#4D4D4D;
}


.myCbxContainer input[type="checkbox"]:checked ~ .z-checkbox-content .icon-log,
.myCbxContainer input[type="checkbox"]:checked ~ .z-checkbox-content .icon-asc {
    color: var(--ap-c-tab-text-selected) !important;
}

.myCbxContainer input[type="checkbox"]:hover ~ .z-checkbox-content .icon-log,
.myCbxContainer input[type="checkbox"]:hover ~ .z-checkbox-content .icon-asc {
    color: var(--ap-c-tab-text-hover) !important;
}

.myCbxContainer input[type="checkbox"]:active ~ .z-checkbox-content .icon-log,
.myCbxContainer input[type="checkbox"]:active ~ .z-checkbox-content .icon-asc {
    color: var(--ap-c-tab-text-selected) !important;
}


/* ------------------------------ Eventually follow ----------------------- */

.myRd .icon-greater,
.myRd .icon-less {
    font-size:11px;
    color:#999;
}

.myRd .icon-greaterequal,
.myRd .icon-lessequal {
    font-size:11px;
    color:#999;
}

.myRd input[type="radio"]:hover ~ .z-radio-content .icon-greater,
.myRd input[type="radio"]:hover ~ .z-radio-content .icon-greaterequal,
.myRd input[type="radio"]:hover ~ .z-radio-content .icon-less,
.myRd input[type="radio"]:hover ~ .z-radio-content .icon-lessequal{
    color:#000;
}

.myRd input[type="radio"]:active ~ .z-radio-content .icon-greater,
.myRd input[type="radio"]:active ~ .z-radio-content .icon-greaterequal,
.myRd input[type="radio"]:active ~ .z-radio-content .icon-less,
.myRd input[type="radio"]:active ~ .z-radio-content .icon-lessequal {
    color:var(--ap-c-widget);
}

.myRd input[type="radio"]:checked ~ .z-radio-content .icon-greater,
.myRd input[type="radio"]:checked ~ .z-radio-content .icon-greaterequal,
.myRd input[type="radio"]:checked ~ .z-radio-content .icon-less,
.myRd input[type="radio"]:checked ~ .z-radio-content .icon-lessequal {
    color:var(--ap-c-widget);
}

.myRd input[type="radio"][disabled]:hover ~ .z-radio-content .icon-greater,
.myRd input[type="radio"][disabled]:hover ~ .z-radio-content .icon-greaterequal,
.myRd input[type="radio"][disabled]:hover ~ .z-radio-content .icon-less,
.myRd input[type="radio"][disabled]:hover ~ .z-radio-content .icon-lessequal {
    color:#999;
}

.myRd input[type="radio"][disabled]:active ~ .z-radio-content .icon-greater,
.myRd input[type="radio"][disabled]:active ~ .z-radio-content .icon-greaterequal,
.myRd input[type="radio"][disabled]:active ~ .z-radio-content .icon-less,
.myRd input[type="radio"][disabled]:active ~ .z-radio-content .icon-lessequal {
    color:#999;
}

.myRd input[type="radio"][disabled]:checked ~ .z-radio-content .icon-greater,
.myRd input[type="radio"][disabled]:checked ~ .z-radio-content .icon-greaterequal,
.myRd input[type="radio"][disabled]:checked ~ .z-radio-content .icon-less,
.myRd input[type="radio"][disabled]:checked ~ .z-radio-content .icon-lessequal{
    color:#999;
}


/* ------------------ south criteria ------------
.southCriteriaStyle .z-icon-angle-double-down {
    display:none;
}

.mainLayoutStyle .z-icon-angle-double-up {
    display:none;
}*/

.southCriteriaStyle .z-south-body {
    background-color: white;
}

.cbFilterContainer input[type="checkbox"] ~ .z-checkbox-content .z-icon-search {
    color:white;
}

.cbFilterContainer input[type="checkbox"]:checked ~ .z-checkbox-content .z-icon-search {
    color:white;
}

.cbFilterContainer input[type="checkbox"]:hover ~ .z-checkbox-content .z-icon-search {
    color:white;
}

.cbFilterContainer input[type="checkbox"]:active ~ .z-checkbox-content .z-icon-search{
    color:white;
}

.ap-lfee .z-auxheader {
    background-color: var(--ap-c-grid-head-bg) !important;
    border: none !important;
}

.ap-lfee .z-auxheader input {
    background-color: white !important;
}

.mainLayoutStyle .z-toolbar {
    background-color: var(--ap-c-bg-lighter) !important;
    border-top: 1px solid var(--ap-c-line-grid);
}

.ap-case-id-from-to .z-label {
    vertical-align: middle;
}

.ap-case-id-from-to input {
    margin-left: 6px;
}

.ap-lfee-casevar-refine {
    padding: 8px 6px 4px 8px;
    background-color: var(--ap-c-grey-light-5);
}

.ap-lfee-casevar-table .z-listheader-checkable {
     float: left;
 }

.ap-lfee-casevar-table .z-listheader-sorticon {
    left: 6px;
}

.ap-lfee-main-panel .z-tabpanel{
    padding: 8px !important;
}

.ap-lfee .icon-greater,
.ap-lfee .icon-greaterequal,
.ap-lfee .icon-less,
.ap-lfee .icon-lessequal {
    color: var(--ap-c-grey-light-4);
    font-weight: bold;
}

.myRd input[type="radio"]:hover ~ .z-radio-content .icon-greater,
.myRd input[type="radio"]:hover ~ .z-radio-content .icon-greaterequal,
.myRd input[type="radio"]:hover ~ .z-radio-content .icon-less,
.myRd input[type="radio"]:hover ~ .z-radio-content .icon-lessequal {
    color: var(--ap-c-grey-light-3);
}

.ap-lfee .z-slider-button {
    background-color: var(--ap-c-widget) !important;
    z-index: +12;
    border-radius: 8px;
}

.ap-lfee .z-slider-button:hover {
    background-color: var(--ap-c-widget-hover) !important;
}

.ap-lfee .z-slider-area,
.ap-lfee .z-slider-center {
    height: 6px;
    opacity: 1.0;
}

.ap-lfee .sliderL .z-slider-center {
    background: #000; /* black */
}

.ap-lfee .sliderR .z-slider-center {
    background: rgba(225,225,225, 1.0);
}

.ap-lfee .sliderL .z-slider-area {
    background: rgba(225,225,225, 1.0);
    z-index: +2;
}

.ap-lfee .sliderR .z-slider-area {
    background: var(--ap-c-widget);
    z-index: +1;
}
