<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <jmxConfigurator/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/Manager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/Manager.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>[%date] %level %logger{0} | %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.apromore">
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework.ws.server.MessageTracing">
        <level value="TRACE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.springframework.ws.soap.server.endpoint.interceptor.SoapEnvelopeLoggingInterceptor">
        <level value="TRACE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor">
        <level value="TRACE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.springframework">
        <level value="TRACE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.eclipse.persistence" level="WARN"/>
    <logger name="javax.xml" level="WARN"/>
    <logger name="com.sun" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>



        <!--<appender name="timerlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${catalina.home}/logs/ApromoreJPA.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
        <!--<fileNamePattern>${catalina.home}/logs/ApromoreJPA.%i.log.zip</fileNamePattern>-->
        <!--<minIndex>1</minIndex>-->
        <!--<maxIndex>5</maxIndex>-->
        <!--</rollingPolicy>-->

        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<maxFileSize>5MB</maxFileSize>-->
        <!--</triggeringPolicy>-->
        <!--<encoder>-->
        <!--<pattern>[%date] %level %logger{0} | %msg%n</pattern>-->
        <!--</encoder>-->
        <!--</appender>-->

        <!--<appender name="methodlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${catalina.home}/logs/ApromoreMethod.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
        <!--<fileNamePattern>${catalina.home}/logs/ApromoreMethod.%i.log.zip</fileNamePattern>-->
        <!--<minIndex>1</minIndex>-->
        <!--<maxIndex>5</maxIndex>-->
        <!--</rollingPolicy>-->

        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<maxFileSize>5MB</maxFileSize>-->
        <!--</triggeringPolicy>-->
        <!--<encoder>-->
        <!--<pattern>[%date] %level %logger{0} | %msg%n</pattern>-->
        <!--</encoder>-->
        <!--</appender>-->


        <!--<logger name="org.apromore.aop.TimerStatsInterceptor" level="DEBUG">-->
        <!--<appender-ref ref="timerlogfile"/>-->
        <!--</logger>-->
        <!--<logger name="org.apromore.aop.TimerInterceptor" level="DEBUG">-->
        <!--<appender-ref ref="timerlogfile"/>-->
        <!--</logger>-->
        <!--<logger name="org.apromore.aop.LoggingInterceptor" level="DEBUG">-->
        <!--<appender-ref ref="methodlogfile"/>-->
        <!--</logger>-->
