<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Apromore-FileStore</display-name>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:META-INF/spring/filestoreContext.xml
            classpath*:META-INF/spring/filestoreClient-osgi-context.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>dav</servlet-name>
        <servlet-class>org.apromore.filestore.webdav.WebDavSpringServlet</servlet-class>
        <init-param>
            <param-name>ResourceHandlerImplementation</param-name>
            <param-value>org.apromore.filestore.webdav.LocalFileSystemStore</param-value>
            <description>name of the class that implements net.sf.webdav.WebDavStore</description>
        </init-param>
        <init-param>
            <param-name>rootpath</param-name>
            <param-value>*APROMORE-CONFIG*</param-value>
            <description>folder where webdav content on the local filesystem is stored (*WAR-FILE-ROOT* and *APROMORE-CONFIG* are treated specially)</description>
        </init-param>
        <init-param>
            <param-name>servletPath</param-name>
            <param-value>/filestore/dav</param-value>
            <description>Always the same as the servlet-mapping for this servlet. </description>
        </init-param>
        <init-param>
            <param-name>storeDebug</param-name>
            <param-value>1</param-value>
            <description>triggers debug output of the ResourceHandlerImplementation (0 = off , 1 = on) off by default</description>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>webdav</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>newUserRegistration</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>newUserRegistration</servlet-name>
        <url-pattern>/register/newUserRegister/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/register/resetPassword/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dav</servlet-name>
        <url-pattern>/dav/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>webdav</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>

</web-app>
