.z-groupbox {
	&-content, &-content > .z-label {
		font-size: 15px;
	}

	&-3d {
		.z-caption-content, .z-groupbox-title-content {
			font-size: 17px;
		}
		>.z-groupbox-header {
			.z-caption, .z-groupbox-title {
				padding: 10px 16px;
			}
		}
	}
}

.z-groupbox-notitle .z-groupbox-content {
	padding: 12px 16px;
}

.z-groupbox-header,
.z-groupbox-3d .z-groupbox-header {
    line-height: 24px;
}

.z-groupbox-3d > .z-groupbox-header .z-caption,
.z-groupbox-3d > .z-groupbox-header .z-groupbox-title {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 24px;
    background: 0;
    top: 0;
    position: relative;
    cursor: pointer;
}

.z-groupbox-3d > .z-groupbox-header .z-caption-content {
    padding: 4px 0 4px 0;
    line-height: 16px;
}

.z-groupbox-3d > .z-groupbox-content {
    padding: 5px;
}

.z-groupbox-3d > .z-groupbox-header {
    padding: 3px 4px;
}