body{
	background-color: #ffffff;	
}

.mainWindow{
	padding: 10px;	
}

.header{
	overflow: hidden;
	margin-bottom: 10px;
}

.headerTop{
	
}

.menu{
	
}

.logo{
	float: left;
}

.userOptions{
	float: right;
}

.userText{
	font-size: 10pt;
}

.content{
	margin-top: 10px;
	border: 1px solid #cccccc;
}

.panelHeader{
	padding: 5px;
	border-bottom: 1px solid #cccccc;
	background-color: #eeeeee;
}

.leftTop{
	padding: 10px;
	min-height: 300px;
}

.leftBottom{
	padding: 10px;
}

.rightMain{
	padding: 10px;
	min-height: 500px;
}

.footer{
	
}

.logoImage{
	vertical-align: center;
	display: inline-block;
}

.menuIcon{
	padding: 5px;
	cursor: pointer;
}

.menuIcon:hover{
	background: #eeeeee;
}

.logoText{
	font-size: 16pt;
	padding: 10px;
	vertical-align: center;
	display: inline-block;
	font-weight: bold;
}

.z-window-embedded-tl,.z-window-embedded-tr,.z-window-embedded-hl,.z-window-embedded-hr, .z-window-embedded-hm { 
    background-image:none;
    background-color:#94D3D3; 
} 
.z-window-embedded-cnt { 
    border:1px solid #7BADAD; 
}

.z-button .z-button-tl, .z-button .z-button-tr,
.z-button .z-button-bl, .z-button .z-button-br,
.z-button .z-button-tm, .z-button .z-button-bm,
.z-button .z-button-cl, .z-button .z-button-cr {
    background-image:none; 
    background-color:red;     
}
.z-button .z-button-cm {
    background-image:none; 
    background-color:#eeeeee;    
}

.z-button-os {
    background-image:none; 
    background-color:#eeeeee; 
    border: 1px solid #cccccc;  
    padding: 3px; 
}

.z-button-os:hover {
    background-image:none; 
    background-color:#cccccc; 
    border: 1px solid #cccccc;  
}