<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/util     http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="org.apromore"/>

    <!-- ************************** WebServices ************************** -->

    <sws:annotation-driven />

    <sws:dynamic-wsdl id="manager" portTypeName="Manager" locationUri="/services/manager/" targetNamespace="http://www.apromore.org/manager/service_portal">
        <sws:xsd location="classpath:manager.xsd"/>
    </sws:dynamic-wsdl>

    <sws:interceptors>
        <bean class="org.apromore.util.spring.LoggingInterceptor"
            p:logRequest="true" p:logResponse="true"/>
        <bean id="validatingInterceptor"  class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor"
            p:xsdSchemaCollection-ref="schemaCollection" p:validateRequest="false" p:validateResponse="false"/>
    </sws:interceptors>

    <bean id="marshallingMethodProcessor" class="org.springframework.ws.server.endpoint.adapter.method.MarshallingPayloadMethodProcessor"
        p:marshaller-ref="jaxb2Marshaller" p:unmarshaller-ref="jaxb2Marshaller"/>

    <bean id="defaultMethodEndpointAdapter" class="org.springframework.ws.server.endpoint.adapter.DefaultMethodEndpointAdapter">
        <property name="methodArgumentResolvers">
            <list>
                <ref bean="marshallingMethodProcessor"/>
            </list>
        </property>
        <property name="methodReturnValueHandlers">
            <list>
                <ref bean="marshallingMethodProcessor"/>
            </list>
        </property>
    </bean>

    <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="schemas" ref="schemasList" />
        <property name="contextPaths">
            <list>
                <value>org.apromore.model</value>
            </list>
        </property>
    </bean>

    <util:list id="schemasList">
        <value>classpath:manager.xsd</value>
    </util:list>

    <bean id="schemaCollection" class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
        <description>This bean wrap the messages.xsd (which imports types.xsd), and inlines them as a one.</description>
        <property name="xsds" value="/WEB-INF/wsdl/manager.xsd"/>
        <property name="inline" value="true"/>
    </bean>

    <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory"/>
    <bean id="messageReceiver" class="org.springframework.ws.soap.server.SoapMessageDispatcher"/>


    <!-- ************************** Non WebServices ************************** -->

    <bean id="dataAccessCanoniserManager" class="org.apromore.dao.service.DataAccessCanoniserManagerImpl" />
    <bean id="dataAccessManagerManager" class="org.apromore.dao.service.DataAccessManagerManagerImpl" />
    <bean id="dataAccessToolboxManager" class="org.apromore.dao.service.DataAccessToolboxManagerImpl" />

    <bean id="canoniserDataAccessClient" class="org.apromore.canoniser.da.CanoniserDataAccessClient" p:manager-ref="dataAccessCanoniserManager" />
    <bean id="toolboxDataAccessClient" class="org.apromore.toolbox.da.ToolboxDataAccessClient" p:manager-ref="dataAccessToolboxManager" />
    <bean id="managerDataAccessClient" class="org.apromore.manager.da.ManagerDataAccessClient" p:manager-ref="dataAccessManagerManager" />
    <bean id="managerCanoniserClient" class="org.apromore.manager.canoniser.ManagerCanoniserClient" p:manager-ref="canoniserManager" />
    <bean id="managerToolboxClient" class="org.apromore.manager.toolbox.ManagerToolboxClient" p:manager-ref="toolboxManager" />

    <bean id="canoniserManager" class="org.apromore.canoniser.service.CanoniserManagerImpl" p:client-ref="canoniserDataAccessClient" />
    <bean id="toolboxManager" class="org.apromore.toolbox.service.ToolboxManagerImpl" p:client-ref="toolboxDataAccessClient" />


    <!--<bean id="domainService" class="org.apromore.service.impl.DomainServiceImpl" />-->
    <!--<bean id="formatService" class="org.apromore.service.impl.FormatServiceImpl" />-->
    <!--<bean id="userService" class="org.apromore.service.impl.UserServiceImpl" />-->
    <!--<bean id="processService" class="org.apromore.service.impl.ProcessServiceImpl" />-->

</beans>