.x-panel-editor-north .x-toolbar {
    box-sizing: border-box;
    margin-top: var(--ap-header-height) !important;
    background-image: none !important;
    background-color: var(--ap-c-action-bg-normal) !important;
    height: var(--ap-menu-height) !important;
    padding: 4px 0 0 10px;
    border: 0;
    box-shadow: var(--ap-box-shadow);
    z-index: var(--ap-z-editor-toolbar);
}

/* copy of ap-icon rule */
.x-panel-editor-north .x-toolbar button {
    --icon-height: 26px;
    --bg-height: 20px;
    box-sizing: border-box !important;
    height: var(--icon-height) !important;
    border: none !important;
    background-size: auto var(--bg-height) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-origin: padding-box !important;
    background-color: transparent !important;
    border-radius: 3px !important;
    padding: 0 !important;
    cursor: pointer;
    filter: invert(33%) sepia(0%) saturate(0%) hue-rotate(226deg) brightness(91%) contrast(93%);
}

.x-panel-editor-north .x-toolbar .x-btn-left,
.x-panel-editor-north .x-toolbar .x-btn-right {
    background: none !important;
    width: 2px;
}

.x-panel-editor-north .x-toolbar .x-btn-left > *,
.x-panel-editor-north .x-toolbar .x-btn-right > * {
    display: none !important;
}

.x-panel-editor-north .x-toolbar .x-btn-center {
    background: none !important;
    border: none !important;
    padding: 0 2px !important;
    border-radius: 3px !important;
    margin: 0 4px 0 4px !important;
}

.x-panel-editor-north .x-toolbar .x-btn-over .x-btn-center {
    background-color: var(--ap-c-action-bg-hover) !important;
}

.x-panel-editor-north .x-toolbar .x-btn-over button {
    filter: none !important;
}
