<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  This file is part of "Apromore Core".
  %%
  Copyright (C) 2018 - 2022 Apromore Pty Ltd.
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  #L%
  -->



<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="jpalogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./target/apromore-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./target/apromore-test.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %level | %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.apromore" level="INFO" />
    <logger name="com.jolbox.bonecp" level="ERROR" />
    <logger name="org.eclipse.persistence" level="ERROR" />
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.beans.factory" level="ERROR" />

    <logger name="org.springframework.orm" level="ERROR">
        <appender-ref ref="jpalogfile" />
    </logger>
    <logger name="org.springframework.jdbc" level="ERROR">
        <appender-ref ref="jpalogfile" />
    </logger>
    <logger name="org.springframework.transaction" level="ERROR">
        <appender-ref ref="jpalogfile" />
    </logger>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
