<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <contextName>Apromore</contextName>

    <turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.transaction" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
